{% extends "templates/web.html" %}

{% block title %}{{ _('Products') }}{% endblock %}
{% block header %}
<h1>{{ _('Products') }}</h1>
{% endblock header %}

{%- block head_include %}
	<!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/assets/erpnext/css/bootstrap.custom.min.css" rel="stylesheet">
    <link href="/assets/erpnext/css/style.css" rel="stylesheet">

	<!-- SPECIFIC CSS -->
    <link href="/assets/erpnext/css/listing.css" rel="stylesheet">
{% endblock -%}

{% block page_content %}
<div class="row">
	<div class="col-9">
		<div class="input-group input-group-sm mb-3">
			<input type="search" class="form-control" placeholder="{{_('Search')}}"
				aria-label="{{_('Product Search')}}" aria-describedby="product-search"
				value="{{ frappe.form_dict.search or '' }}"
			>
		</div>
	</div>

	<div class="col-3 pl-0">
		<button class="btn btn-light btn-sm btn-block d-md-none"
			type="button"
			data-toggle="collapse"
			data-target="#product-filters"
			aria-expanded="false"
			aria-controls="product-filters"
			style="white-space: nowrap;"
		>
			{{ _('Toggle Filters') }}
		</button>
	</div>
</div>

<div class="row">
	<div class="col-12 order-2 col-md-9 order-md-1 products-list">
		{% if product_settings.product_view == "Grid" %}
		<div class="row small-gutters">
			{% if items %}
				{% for item in items %}
					{% include "erpnext/www/all-products/item_grid.html" %}
				{% endfor %}
			{% else %}
				{% include "erpnext/www/all-products/not_found.html" %}
			{% endif %}
		</div>
		{% else %}
			{% if items %}
				{% for item in items %}
					{% include "erpnext/www/all-products/item_row.html" %}
				{% endfor %}
			{% else %}
				{% include "erpnext/www/all-products/not_found.html" %}
			{% endif %}
		{% endif %}
	</div>
	<div class="col-12 order-1 col-md-3 order-md-2">
		<div class="filter_col">
			<div class="inner_bt"><a href="#" class="open_filters"><i class="ti-close"></i></a></div>
			<div class="filter_type version_2">
				<h4><a href="#filter_1" data-toggle="collapse" class="opened">Categories</a></h4>
				<div class="collapse show" id="filter_1">
					<ul>
						<li>
							<label class="container_check">Men <small>12</small>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</li>
						<li>
							<label class="container_check">Women <small>24</small>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</li>
						<li>
							<label class="container_check">Running <small>23</small>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</li>
						<li>
							<label class="container_check">Training <small>11</small>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</li>
					</ul>
				</div>
				<!-- /filter_type -->
			</div>
			<!-- /filter_type -->
			<div class="filter_type version_2">
				<h4><a href="#filter_2" data-toggle="collapse" class="opened">Color</a></h4>
				<div class="collapse show" id="filter_2">
					<ul>
						<li>
							<label class="container_check">Blue <small>06</small>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</li>
						<li>
							<label class="container_check">Red <small>12</small>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</li>
						<li>
							<label class="container_check">Orange <small>17</small>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</li>
						<li>
							<label class="container_check">Black <small>43</small>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</li>
					</ul>
				</div>
			</div>
			<!-- /filter_type -->
			<div class="filter_type version_2">
				<h4><a href="#filter_3" data-toggle="collapse" class="closed">Brands</a></h4>
				<div class="collapse" id="filter_3">
					<ul>
						<li>
							<label class="container_check">Adidas <small>11</small>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</li>
						<li>
							<label class="container_check">Nike <small>08</small>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</li>
						<li>
							<label class="container_check">Vans <small>05</small>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</li>
						<li>
							<label class="container_check">Puma <small>18</small>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</li>
					</ul>
				</div>
			</div>
			<!-- /filter_type -->
			<div class="filter_type version_2">
				<h4><a href="#filter_4" data-toggle="collapse" class="closed">Price</a></h4>
				<div class="collapse" id="filter_4">
					<ul>
						<li>
							<label class="container_check">$0 — $50<small>11</small>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</li>
						<li>
							<label class="container_check">$50 — $100<small>08</small>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</li>
						<li>
							<label class="container_check">$100 — $150<small>05</small>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</li>
						<li>
							<label class="container_check">$150 — $200<small>18</small>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</li>
					</ul>
				</div>
			</div>
			<!-- /filter_type -->
			<div class="buttons">
				<a href="#0" class="btn_1">Filter</a> <a href="#0" class="btn_1 gray">Reset</a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		{% if frappe.form_dict.start|int > 0 %}
		<button class="btn btn-outline-secondary btn-prev" data-start="{{ frappe.form_dict.start|int - page_length }}">{{ _("Prev") }}</button>
		{% endif %}
		{% if items|length >= page_length %}
		<button class="btn btn-outline-secondary btn-next" data-start="{{ frappe.form_dict.start|int + page_length }}">{{ _("Next") }}</button>
		{% endif %}
	</div>
</div>

<script>
	frappe.ready(() => {
		$('.btn-prev, .btn-next').click((e) => {
			const $btn = $(e.target);
			$btn.prop('disabled', true);
			const start = $btn.data('start');
			let query_params = frappe.utils.get_query_params();
			query_params.start = start;
			let path = window.location.pathname + '?' + frappe.utils.get_url_from_dict(query_params);
			window.location.href = path;
		});
	});
</script>

{% endblock %}


