{% extends "templates/web.html" %}

{% block title %}{{ _('Products') }}{% endblock %}
{% block header %}
<h1>{{ _('Products') }}</h1>
{% endblock header %}

{%- block head_include %}
	<!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/assets/erpnext/css/bootstrap.custom.min.css" rel="stylesheet">
    <link href="/assets/erpnext/css/style.css" rel="stylesheet">

	<!-- SPECIFIC CSS -->
    <link href="/assets/erpnext/css/listing.css" rel="stylesheet">
{% endblock -%}

{% block page_content %}
<div class="row">
	<div class="col-9">
		<div class="input-group input-group-sm mb-3">
			<input type="search" class="form-control" placeholder="{{_('Search')}}"
				aria-label="{{_('Product Search')}}" aria-describedby="product-search"
				value="{{ frappe.form_dict.search or '' }}"
			>
		</div>
	</div>

	<div class="col-3 pl-0">
		<button class="btn btn-light btn-sm btn-block d-md-none"
			type="button"
			data-toggle="collapse"
			data-target="#product-filters"
			aria-expanded="false"
			aria-controls="product-filters"
			style="white-space: nowrap;"
		>
			{{ _('Toggle Filters') }}
		</button>
	</div>
</div>

<div class="row">
	<div class="col-12 order-2 col-md-9 order-md-1 products-list">
		{% if product_settings.product_view == "Grid" %}
		<div class="row small-gutters">
			{% if items %}
				{% for item in items %}
					{% include "erpnext/www/all-products/item_grid.html" %}
				{% endfor %}
			{% else %}
				{% include "erpnext/www/all-products/not_found.html" %}
			{% endif %}
		</div>
		{% else %}
			{% if items %}
				{% for item in items %}
					{% include "erpnext/www/all-products/item_row.html" %}
				{% endfor %}
			{% else %}
				{% include "erpnext/www/all-products/not_found.html" %}
			{% endif %}
		{% endif %}
	</div>
	<div class="col-12 order-1 col-md-3 order-md-2">

		<div class="filter_col">
		<div class="inner_bt"><a href="#" class="open_filters"><i class="ti-close"></i></a></div>
			{% for field_filter in field_filters %}
				{%- set item_field =  field_filter[0] %}
				{%- set values =  field_filter[1] %}
				{%- set names =  field_filter[2] %}
				<div class="filter_type version_2">
					<h4><a href="#filter_field_{{ item_field.label.lower() | replace(' ', '_') }}" data-toggle="collapse" class="opened">{{ item_field.label }}</a></h4>
					<div class="collapse show" id="filter_field_{{ item_field.label.lower() | replace(' ', '_') }}">
						<ul>
					{% if values %}
						{% for i in range(values|length) %}
							<li>
								<label class="container_check">{% if item_field.label == "Item Group" and names[i] %}{{ names[i] }}{% else %}{{ values[i] }}{% endif %}
									<input type="checkbox"
										class="product-filter field-filter custom-control-input"
										id="{{values[i]}}"
										data-filter-name="{{ item_field.fieldname }}"
										data-filter-value="{{ values[i] }}"
									>
									<span class="checkmark"></span>
								</label>
							</li>
						{% endfor %}
						</ul>
					{% endif %}
					</div>
				</div>
			{% endfor %}

			{% for attribute in attribute_filters %}
				<div class="filter_type version_2">
					<h4><a href="#filter_atrrib_{{ attribute.name.lower() | replace(' ', '_') }}" data-toggle="collapse" class="opened">{{ attribute.name }}</a></h4>
					<div class="collapse show" id="filter_atrrib_{{ attribute.name.lower() | replace(' ', '_') }}">
						<ul>
					{% if attribute.item_attribute_values %}
						{% for attr_value in attribute.item_attribute_values %}
							<li>
								<label class="container_check">{{ attr_value.attribute_value }}
									<input type="checkbox"
										class="product-filter attribute-filter custom-control-input"
										id="{{attr_value.name}}"
										data-attribute-name="{{ attribute.name }}"
										data-attribute-value="{{ attr_value.attribute_value }}"
										{% if attr_value.checked %} checked {% endif %}
									>
									<span class="checkmark"></span>
								</label>
							</li>
						{% endfor %}
						</ul>
					</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>

		<script>
			frappe.ready(() => {
				$('.product-filter-filter').on('keydown', frappe.utils.debounce((e) => {
					const $input = $(e.target);
					const keyword = ($input.val() || '').toLowerCase();
					const $filter_options = $input.next('.filter-options');

					$filter_options.find('.custom-control').show();
					$filter_options.find('.custom-control').each((i, el) => {
						const $el = $(el);
						const value = $el.data('value').toLowerCase();
						if (!value.includes(keyword)) {
							$el.hide();
						}
					});
				}, 300));
			})
		</script>
	</div>
</div>
<div class="row">
	<div class="col-12">
		{% if frappe.form_dict.start|int > 0 %}
		<button class="btn btn-outline-secondary btn-prev" data-start="{{ frappe.form_dict.start|int - page_length }}">{{ _("Prev") }}</button>
		{% endif %}
		{% if items|length >= page_length %}
		<button class="btn btn-outline-secondary btn-next" data-start="{{ frappe.form_dict.start|int + page_length }}">{{ _("Next") }}</button>
		{% endif %}
	</div>
</div>

<script>
	frappe.ready(() => {
		$('.btn-prev, .btn-next').click((e) => {
			const $btn = $(e.target);
			$btn.prop('disabled', true);
			const start = $btn.data('start');
			let query_params = frappe.utils.get_query_params();
			query_params.start = start;
			let path = window.location.pathname + '?' + frappe.utils.get_url_from_dict(query_params);
			window.location.href = path;
		});
		$('.page_content').on('click', '.wishlist', (e) => {
			var $btn = $(e.currentTarget);
			const item_code = $btn.data('item-code');
			if (frappe.session.user !='Guest'){
				frappe.call({
					method: "erpnext.stock.doctype.wishlist.wishlist.set_wishlist",
					args: {
						"customer": frappe.session.user,
						"item": item_code
					},
					callback: function(r) {
						if (r.message) {
							$btn[0].style.backgroundColor = "blue";
						} else {
							$btn[0].style.backgroundColor = "transparent";
						}
					}
				})
			}
		});
		$('.page_content').on('click', '.add-shopping-cart', (e) => {
			var $btn = $(e.currentTarget);
			const item_code = $btn.data('item-code');
			erpnext.shopping_cart.update_cart({
				item_code,
				qty: 1,
				callback(r) {
					console.log(r);
				}
			});
		});
	});
</script>

{% endblock %}


