<div class="col-6 col-md-4">
    <div class="grid_item">
    {% if item.discount > 0 %}
        <span class="ribbon off">-{{ item.discount }}%</span>
    {% endif %}
        <figure>
            <a href="/{{ item.route }}">
                <img class="img-fluid lazy" src="{{ item.website_image or item.image or 'no-image.jpg' }}" alt="{{ item.item_name }}">
            </a>
        </figure>
        <a href="/{{ item.route }}">
            <h3>{{ item.item_name }}</h3>
        </a>
        <div class="price_box">
        {% if item.discount > 0 %}
            <span class="new_price">{{ item.new_price.formatted_price }}</span>
            <span class="old_price">{{ item.old_price.formatted_price }}</span>
        {% else %}
            {% if item.old_price %}
            <span class="new_price">{{ item.old_price.formatted_price }}</span>
            {% else %}
            <span class="new_price"></span>
            {% endif %}
        {% endif %}
        </div>
        <ul>
            <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to favorites"><i class="ti-heart"></i><span>Add to favorites</span></a></li>
            <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to compare"><i class="ti-control-shuffle"></i><span>Add to compare</span></a></li>
            <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="ti-shopping-cart"></i><span>Add to cart</span></a></li>
        </ul>
    </div>
    <!-- /grid_item -->
</div>
<!-- /col -->