{% if shopping_cart and shopping_cart.cart_settings.enabled %}
{% set cart_settings = shopping_cart.cart_settings %}
<div class="prod_options">
	<form class="cart-form">
		<div class="form-group">
		  <label for="size">
			Talla
		  </label>
		  <label class="select form-control">
			<select name="size" id="size">
			</select>
		  </label>
		</div>
		<div class="form-group">
		  <label for="color">
			Color
		  </label>
		  <label class="select form-control">
			<select name="color" id="color">
			</select>
		  </label>
		</div>
	</form>
</div>
<script>
{% include "templates/generators/item/item_configure.js" %}
{% include "templates/generators/item/item_inquiry.js" %}
</script>
{% endif %}
