<div class="col-md-8">
<!-- title -->
<h1 itemprop="name">
	{% if doc.commercial_item_name %}{{ doc.commercial_item_name }}{% else %}{{ item_name }}{% endif %}
</h1>
<p class="text-muted">
	<span>{{ _("Item Code") }}:</span>
	<span itemprop="productID">{{ doc.name }}</span>
</p>
{% include "templates/generators/item/item_rating.html" %}
<!-- description -->
<div itemprop="description">
{% if frappe.utils.strip_html(doc.web_long_description or '') %}
	{{ doc.web_long_description | safe }}
{% elif frappe.utils.strip_html(doc.description or '')  %}
	{{ doc.description | safe }}
{% else %}
	{{ _("No description given") }}
{% endif  %}
</div>

{% if has_variants %}
	<!-- configure template -->
	{% include "templates/generators/item/item_configure.html" %}
{% endif %}
<!-- add variant to cart -->
{% include "templates/generators/item/item_add_to_cart.html" %}

{% include "templates/generators/item/item_share.html" %}
</div>

