{% if shopping_cart and shopping_cart.cart_settings.enabled %}
{% set cart_settings = shopping_cart.cart_settings %}
<div class="prod_options">
	<form class="cart-form">
		{% for attribute, values in attribute_values.items() %}
		<div class="form-group">
			<label for="{{ attribute }}">
				{{ attribute }}
			</label>
			<label class="select form-control">
				<select name="{{ doc.name }}" id="{{ attribute }}" class="attribute">
					<option disabled selected value> -- select an option -- </option>
					{% for value in values %}
						<option value="{{ value }}" {% if selected_attributes[attribute] == value %}selected{% endif %}>{{ value }}</option>
					{% endfor %}
				</select>
			</label>
		</div>
		{% endfor %}
	</form>
</div>
<script>
{% include "templates/generators/item/item_configure.js" %}
</script>
{% endif %}
