{% if shopping_cart and shopping_cart.cart_settings.enabled %}

{% set cart_settings = shopping_cart.cart_settings %}
{% set product_info = shopping_cart.product_info %}
{% set stock_status = shopping_cart.stock_status %}

<div class="item-cart row mt-2" data-variant-item-code="{{ item_code }}">
	<div class="col-md-12">
		{% if cart_settings.show_price and product_info.price %}
		<div class="price_main">
			<span class="new_price">{{ product_info.price.formatted_price_sales_uom }}</span>
			{% if product_info.referencial_price %}
			<span class="percentage">-{{ product_info.discount }}%</span>
			<span class="old_price">{{ product_info.referencial_price.formatted_price_sales_uom }}</span>
			{% endif %}
		</div>
		{% endif %}
		{% if cart_settings.show_stock_availability %}
		<div>
			<div class="row">
				<label class="col-xl-5 col-lg-5  col-md-6 col-6"><strong>Cantidad</strong></label>
				<div class="col-xl-4 col-lg-5 col-md-6 col-6">
					<input type="number" value="1" min="1" {% if stock_status.is_stock_item == 1 %}max="{% if product_info.in_stock == 0 %}0{% elif product_info.in_stock == 1 %}{{ product_info.stock_qty[0][0] }}{% endif %}"{% endif %} step="1" id="qty"/>
				</div>
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class="cart-buttons">
				<a class="uppercase border-radius btn-dark btn-add-to-cart {% if not (product_info.price and (cart_settings.allow_items_not_in_stock or product_info.in_stock)) %}disable{% endif %}" href="/cart" data-item-code="{{item_code}}"><i class="fa fa-shopping-basket"></i> &nbsp; Agregar a Carrito</a>
				<a class="icons wishlist" href="#." data-item-code="{{item_code}}" {% if product_info.in_wishlist %}style="background-color: blue;"{% endif %}>
				  <i class="fa fa-heart-o"></i>
				</a>
			</div>
		</div>
	</div>
</div>

<script>
	frappe.ready(() => {
		$("input[type='number']").inputSpinner();
		$('.page_content').on('click', '.btn-add-to-cart', (e) => {
			const $btn = $(e.currentTarget);
			const item_code = $btn.data('item-code');
			const qty = $("#qty").val();
			erpnext.shopping_cart.update_cart({
				item_code,
				qty: qty,
				callback(r) {
					
				}
			});
		});
		$('.page_content').on('click', '.wishlist', (e) => {
			var $btn = $(e.currentTarget);
			const item_code = $btn.data('item-code');
			if (frappe.session.user !='Guest'){
				frappe.call({
					method: "erpnext.stock.doctype.wishlist.wishlist.set_wishlist",
					args: {
						"customer": frappe.session.user,
						"item": item_code
					},
					callback: function(r) {
						if (r.message) {
							$btn[0].style.backgroundColor = "blue";
						} else {
							$btn[0].style.backgroundColor = "transparent";
						}
					}
				})
			}
		});
	});
</script>

{% endif %}
