{% extends "templates/web.html" %}

{% block header %}<h1>{{ name }}</h1>{% endblock %}

{%- block head_include %}
	<!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/assets/erpnext/css/bootstrap.custom.min.css" rel="stylesheet">
    <link href="/assets/erpnext/css/style.css" rel="stylesheet">

	<!-- SPECIFIC CSS -->
    <link href="/assets/erpnext/css/listing.css" rel="stylesheet">
{% endblock -%}

{% block page_content %}
<div class="item-group-content" itemscope itemtype="http://schema.org/Product">
	<div>
		{% if slideshow %}<!-- slideshow -->
		{% include "templates/includes/slideshow.html" %}
		{% endif %}
		{% if description %}<!-- description -->
		<div class="mb-3" itemprop="description">{{ description or ""}}</div>
		{% endif %}
	</div>
	<div class="row">
		<div class="col-md-8">
			{% if items %}
			<div id="search-list">
				{% for i in range(0, page_length) %}
					{% if items[i] %}
						{%- set item = items[i] %}
						{% if product_settings.product_view == "Grid" %}
							{% include "erpnext/www/all-products/item_grid.html" %}
						{% else %}
							{% include "erpnext/www/all-products/item_row.html" %}
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
			<div class="item-group-nav-buttons">
				{% if frappe.form_dict.start|int > 0 %}
				<a class="btn btn-outline-secondary" href="/{{ pathname }}?start={{ frappe.form_dict.start|int - page_length }}">{{ _("Prev") }}</a>
				{% endif %}
				{% if items|length > page_length %}
				<a class="btn btn-outline-secondary" href="/{{ pathname }}?start={{ frappe.form_dict.start|int + page_length }}">{{ _("Next") }}</a>
				{% endif %}
			</div>
			{% else %}
			<div class="text-muted">{{ _("No items listed") }}.</div>
			{% endif %}
		</div>
	</div>
</div>

<script>
	frappe.ready(() => {
		$('.btn-prev, .btn-next').click((e) => {
			const $btn = $(e.target);
			$btn.prop('disabled', true);
			const start = $btn.data('start');
			let query_params = frappe.utils.get_query_params();
			query_params.start = start;
			let path = window.location.pathname + '?' + frappe.utils.get_url_from_dict(query_params);
			window.location.href = path;
		});
		$('.page_content').on('click', '.wishlist', (e) => {
			var $btn = $(e.currentTarget);
			const item_code = $btn.data('item-code');
			if (frappe.session.user !='Guest'){
				frappe.call({
					method: "erpnext.stock.doctype.wishlist.wishlist.set_wishlist",
					args: {
						"customer": frappe.session.user,
						"item": item_code
					},
					callback: function(r) {
						if (r.message) {
							$btn[0].style.backgroundColor = "blue";
						} else {
							$btn[0].style.backgroundColor = "transparent";
						}
					}
				})
			}
		});
	});
</script>
{% endblock %}